<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.umcincoum.djme">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SET_DEBUG_APP" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_ofi"
        android:label="151"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.user.LoginActivity"
            android:theme="@style/FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.user.RegisterActivity"
            android:theme="@style/FullScreen" />
        <activity
            android:name=".ui.event.EventsActivity"
            android:theme="@style/FullScreen" />
        <activity
            android:name=".ui.event.EventDetailsActivity"
            android:theme="@style/FullScreen" />
        <activity
            android:name=".ui.event.ConfirmEventActivity"
            android:theme="@style/FullScreen" />
        <activity
            android:name=".ui.disco.DiscoActivity"
            android:label="@string/title_activity_disco"
            android:theme="@style/FullScreen" />
        <activity
            android:name=".ui.disco.chooseArtist.ChooseArtistActivity"
            android:theme="@style/FullScreen" />
        <activity
            android:name=".ui.disco.chooseMusic.ChooseMusicActivity"
            android:theme="@style/FullScreen" />
        <activity
            android:name=".ui.disco.MusicSelectedActivity"
            android:theme="@style/FullScreen" />
        <activity
            android:name=".ui.disco.playlist.ViewPlaylistActivity"
            android:theme="@style/FullScreen" />
        <activity android:name=".ui.disco.playlist.VoteMusicActivity"
            android:theme="@style/FullScreen"></activity>
    </application>

</manifest>